*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 80px;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgb(75, 137, 44);
    font-style: initial;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    align-items: center;
}
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
li{
    margin-left: 2rem;
    color: black;
}

footer{
    background-color: rgb(8, 47, 47);
    color: antiquewhite;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    
}
h1{
    font-size: 40px;
}
h2{
    font-size: 32px;
    margin-top: 1.6rem;
}
h3{
    font-size: 30px;
    margin-top: 1.6rem;
}
h4{
    font-size: 30px;
    margin-top: 1.6rem;
}
p{
    color: grey;
    margin-top: 2rem;

}
article{
    max-width: 800px;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4rem;
}
footer p{
    color: wheat
    
    
}

